.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9 ;
    padding: 25px 15px;
}

.sidebar img{
    width: 25px;
    
}

.sidebar .menu{
    display:block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e0e7ff;
    border-radius: 20px;
    color: #1e40af;
    cursor: pointer;
}

.sidebar .recent{
display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .recent-title{
    margin-top: 10px;
    margin-bottom:30px;

}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10px;
    padding-right: 40px;
    background-color: #f8fafc;
    border-radius: 50px;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
background-color: grey;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .bottom-item{
    padding: 10px;
    cursor: pointer;
}